################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/.vs/Fundamentals
/CSharp/GettingStarted.101/obj
